<!doctype html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <section id="banner" class="style2">
      <div class="inner">
        <span class="image">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="" />
        </span>
        <header class="major">
          <h1>{{ page.title }}</h1>
        </header>
        <div class="content">{{ page.description }}</div>
      </div>
    </section>

    <!-- Main -->
    <div id="main" class="alt">
      <!-- One -->
      <section id="one">
        <div class="inner">
          {% for post in site.posts %} {% if post.title != 404 %}

          <!-- Image first -->
          {% if post.image %}
          <span class="image main post-preview">
            <img src="{{ site.baseurl }}/{{ post.image }}" alt="" />
          </span>
          {% endif %}

          <!-- Title -->
          <header class="major">
            <h2>{{ post.title }}</h2>
          </header>

          <!-- Date -->
          {% if post.date %}
          <p><strong>Published:</strong> {{ post.date | date: "%B %d, %Y" }}</p>
          {% endif %}

          <!-- Description -->
          <p>{{ post.description }}</p>

          <!-- Link/Button placeholder -->
          <ul class="actions">
            <li>
              <a href="{{ post.url | relative_url }}" class="button"
                >Read More</a
              >
            </li>
          </ul>

          <hr />
          <!-- Adds a visual separator between posts -->
          {% endif %} {% endfor %}
        </div>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
